body {
    min-height: 100dvh;
}

#sidebar {
    width: 300px;
}


.offcanvas {
    --bs-offcanvas-width: 300px !important;
}

.blue-bg__active {
    background-color: #0094FF !important;
    color: #ffffff !important;
}

.bi-chevron-down {
    transition: all .2s ease-in-out;
}

.sidebar__collapse {
    margin-left: 2.5rem;
}

.sidebar__collapse a:hover {
    text-decoration: underline;
}

.main__container-width {
    max-width: calc(100% - 300px) !important;
}

.btn-secondary {
    border-color: #000 !important;
}

svg path, svg circle {
    pointer-events: none;
}

.auth__background {
    object-position: center center;
    max-width: 100%;
    position: relative;
}

.auth__backdrop::after {
    background-color: rgba(59, 130, 246, .5);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.auth__backdrop {
    background-image: url("../images/auth-background.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    max-width: 50%;
}